@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #252934;
  font-size: 20px;
  color: white;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

a:link, button, .bars {
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: rgb(80, 230, 240);
}

h1 {
  font-size: calc(20px + 8vmin);
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0;
}

h2 {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: calc(20px + 3vmin);
  font-weight: 400;
}

h3 {
  font-size: calc(10px + 2vmin);
  font-weight: 700;
  margin: 0 0 20px 0;
}

hr {
  margin: 0 auto;
  padding: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(100, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 50vw;
}
